body {
    background-color: #11579E;
}
#upper{
	color:white;
	
	font-size:60px;
}
.dep{
 background-color:#ffe6cc;

}
.newslet{
	font-size: 20px;
}
.news_style{
	font-size: 40px;
	text-align: justify;
	font-weight: bold; 
	text-decoration: underline; 
	color: red;
}
.img_contain{
	position: relative;
	text-align: center;
  	color: white;
}
.img_text{
	font-weight: bold;
	text-decoration: underline;
	color: black;
	font-size: 35px;
	position: absolute;
  	top: 8px;
  	left: 16px;
	right: 16px;
}
.bottom{
	color: aliceblue;
	font-weight: bold;
	font-size: 22px;	
}







